<?xml version="1.0"?>
<assembly>
	<id>bin</id>
	<formats>
		<format>zip</format>
	</formats>
	<includeBaseDirectory>false</includeBaseDirectory>
	<fileSets>
		<fileSet>
			<directory>${project.basedir}/src/main/dic</directory>
			<outputDirectory>/jieba/dic</outputDirectory>
		</fileSet>
	</fileSets>
	<files>
		<file>
			<source>${project.basedir}/src/main/resources/plugin-descriptor.properties</source>
			<outputDirectory>/jieba</outputDirectory>
			<filtered>true</filtered>
		</file>
		<file>
			<source>${project.basedir}/src/main/resources/self-ext.properties</source>
			<outputDirectory>/jieba</outputDirectory>
			<filtered>true</filtered>
		</file>
		<file>
			<source>${project.basedir}/src/main/assemblies/plugin.xml</source>
			<outputDirectory>/jieba</outputDirectory>
			<filtered>true</filtered>
		</file>
		<file>
			<source>${project.basedir}/src/main/plugin-metadata/plugin-security.policy</source>
			<outputDirectory>/jieba</outputDirectory>
			<filtered>true</filtered>
		</file>
	</files>
	<dependencySets>
		<dependencySet>
			<outputDirectory>/jieba</outputDirectory>
			<useProjectArtifact>true</useProjectArtifact>
			<useTransitiveFiltering>true</useTransitiveFiltering>
			<excludes>
				<exclude>org.elasticsearch:elasticsearch</exclude>
				<exclude>org.apache.lucene:lucene*</exclude>
				<exclude>org.apache.commons:commons-lang*</exclude>
			</excludes>
		</dependencySet>
		<dependencySet>
			<outputDirectory>/jieba</outputDirectory>
			<useProjectArtifact>true</useProjectArtifact>
			<useTransitiveFiltering>true</useTransitiveFiltering>
			<includes>
				<include>com.huaban:jieba-analysis</include>
				<include>mysql:mysql-connector-java</include>
			</includes>
		</dependencySet>
	</dependencySets>
</assembly>
